<section id="kneuro-homepage-{{ section.id }}">
  <div class="kneuro-homepage-frame">
    <div id="kneuro-homepage-root-{{ section.id }}"></div>
  </div>
</section>

<style>
  #shopify-section-{{ section.id }} {
    margin: 0;
  }
  #shopify-section-{{ section.id }} .kneuro-homepage-frame {
    max-width: 412px;
    margin: 0 auto;
    background: #f4ecdb;
    min-height: 100vh;
    box-shadow: 0 0 80px rgba(0,0,0,0.35);
    position: relative;
  }
  #shopify-section-{{ section.id }} .kneuro-homepage-frame,
  #shopify-section-{{ section.id }} .kneuro-homepage-frame * {
    box-sizing: border-box;
  }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" crossorigin="anonymous"></script>
<script type="text/babel">
  const homepageRootEl = document.getElementById('kneuro-homepage-root-{{ section.id }}');
  if (homepageRootEl && !homepageRootEl.dataset.booted) {
    homepageRootEl.dataset.booted = 'true';
    homepageRootEl.id = 'root';
  }
</script>
<script type="text/babel" src="{{ 'kneuro-homepage.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Kneuro homepage",
  "settings": []
}
{% endschema %}
